.slide-content2 h3 {
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    font: bold;
    color: #000;
    position: relative;

    margin-top: 50px;
    float: left;
    margin-left: 105px;
  }
  
  .slide-content2 h3::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 110px;
    margin-top: 29px;
    background-color: #000;
  }

  .slide-content2 h1 {
    overflow: hidden;
    color: #000;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font: italic;
  
    position: absolute;
    float: left;
    margin-left: 90px;
    top: 120px;
    transition: all 0.5s ease;
  }
  
  .slide-content2 h2{
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      color: #201e1e;
  
  position: absolute;
  float: left;
  
  margin-top: 90px;
  
  top: 90px;
  margin-left: 105px;
  }
  
  .slide-content2 h4{
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      color: #201e1e;
  
  position: absolute;
  float: left;
  
  margin-top: 130px;
  
  top: 90px;
  margin-left: 105px;
  }
  
  .slide-content2 h5{
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      color: #201e1e;
  
  position: absolute;
  float: left;
  
  margin-top: 170px;
  
  top: 90px;
  margin-left: 105px;
  }
  
  .slide-content2 h6{
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      color: #201e1e;
  
  position: absolute;
  float: left;
  
  margin-top: 210px;
  
  top: 90px;
  margin-left: 105px;
  }

  .slide2img {
    width: 400px;
    float: right;
    margin-top: 40px;
    margin-right: 0px;
  }

  .jinkologo {
    width: 200px;
    position: relative;
    top: 240px;
    left: 105px;
}